---
port: 3000
publicUrl: https://hub.innovatete.ch
publicStatus:
  # Whether recent events should be shown publicly. Can include sensitive information.
  enabled: false

github:
  organisation: innovate-technologies
  auth:
    username: innovate-bot
    token: xxx
  hookSecret: xxx

  notify:
    - innovate-technologies/hub

  # Repos to build.
  build:
    - innovate-technologies/control

  trustedUsers:
    group: innovate-technologies/trusted-developers

slack:
  token: "xxx"
  # Channels where innobot will be active and listening.
  channelNames:
    - dev
  # Channels where notifications will be sent.
  notify:
    support: support
    dev: dev
  # Trusted people that can use bot commands.
  trustedPeople: []

whmcs:
  token: "xxx"

buildbot:
  token: "xxx"
  sshDest: hub@buildbot.innovatete.ch
  # without trailing slash
  jobdir: /srv/buildbot-pr-jobdir
  buildbotBin: /home/buildbot/bb-master/bin/buildbot

